!app/cache/.gitkeep
!app/logs/.gitkeep

# Vagrant
.vagrant

# NodeJS
server/logs
server/node_modules

# Symfony
bin/
web/bundles/
web/uploads/
var/
vendor/
UPGRADE*
phpunit.xml.dist
LICENSE
composer.lock
